@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: beige;
    padding-left: 300px;
    padding-top: 200px;
    margin-right: 300 px;
}

header{
    font-style: oblique;
    font-family: 'Bebas Neue';
    font-size: 500px;
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 900px;
    bottom: 600px;
    font-size: 40px;
    padding-bottom: 200px; 

}

nav{
 
    font-size: small;
    font-family: 'Bebas Neue' ;
    width: 500px;
    
}

main{
    color: darkblue;
    font-size: 30pt;
    font-family: bebas neue;
    border-width: 10px; border-style: double; border-color: rgb(70, 174, 248);
    border-radius: 10px;
    max-width: 700px;
    margin-left: 500px;
    background-image: url(../img/newspaper.jpg)
   

}

section {
    margin: auto;
    text-align: center;
    
}


footer{
    width: 300px;
    bottom: 25px;
    left: 200px;
}
#navsplash {
    margin-bottom: 400px;
    margin-left: 150px;
    padding-bottom: 400px;
}

#splash_bg {
    background-color: azure;
    background-image: url(../img/orangeora.jpg);
    background-size: cover;
    
}

#splash_feed {
    background-color:lightgray; 
    
    background-size: cover;
}
#welcome {

    margin-left: 450px;
}
#navmain {
    color: antiquewhite;
    background-image: url(../img/blue\ ora.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 20pt;
    width: 300px;
    height: 300px; 
    overflow-y: scroll;
    top: 400px;
    left: 25px;
    position: fixed;
    border-width: 10px; border-style: double; border-color: rgb(70, 174, 248);
    border-radius: 10px;
    background-position: center;
     
    
}

#navmain a{
    text-decoration: none;

}

#navmain a:hover{
    background-color: yellow;

}


#alarm {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#farmersmarket {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#dispo {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
    font-size: 30pt;
}
#vinyl {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#onthego {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#music {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#text {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#meandtay {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#vinyl {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#book {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#dinner {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
#video {
    border-style: solid; border-width: 10px; border-color: burlywood;
    margin-left: 75px;
    border-radius: 10px;
}
ol {
    list-style-type: none;
    font-size: xx-large;
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto; 
}
p {
    background-color: aliceblue;
}
h3{
    background-color: aliceblue;
    margin-left: 10px;
    margin-right: 300px;
}

