@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: beige;
    padding-left: 300px;
    padding-top: 200px;
    margin-right: 300 px;
}

header{
   
    font-family: 'Bebas Neue';
    font-size: 500px;
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 900px;
    bottom: 600px;
    font-size: 40px;
    padding-bottom: 200px; 

}

nav{
    font-size: xx-large; 
    font-family: 'Bebas Neue' ;
    width: 500px;
    
}

main{
    top: 500px;
    border-style: double;
    border: #9ea04d;
    max-width: 700px;
    margin-left: 500px;
    background-color: #9ea04d

}

section {
    margin: auto;
    text-align: center;
    
}


footer{
    width: 300px;
    bottom: 25px;
    left: 200px;
}

#splash_bg {
    background-color: #9ea04d
}

#splash_feed {
    background-color: antiquewhite; 
}
#splashtext {
    font-size: 100px
    
  
}

#feedgif {
    border: 1px black solid;
    position: fixed;
    top: 200px; 
    left: 5px; 
}

#navsplash {
    position: fixed;
    top: 200px; 
    left: 5px; 
}


#feedmain {
    font-family: Bebas Neue;
    font-size: xx-large;
    top: 1000px;
}


#yourprofile {
    
}